<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufscar.dc.medtime"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="@string/title_activity_cadastro" >
        </activity>
        <activity
            android:name=".AdminUserActivity"
            android:label="@string/gerenciarUsuario" >
        </activity>
        <activity
            android:name=".UsuarioActivity"
            android:label="@string/title_activity_usuario" >
        </activity>
        <activity
            android:name=".PerfilActivity"
            android:label="@string/title_activity_perfil" >
        </activity>
        <activity
            android:name=".ProdutosActivity"
            android:label="@string/title_activity_produtos" >
        </activity>
        <activity
            android:name=".UsuariosActivity"
            android:label="@string/title_activity_usuarios" >
        </activity>
        <activity
            android:name=".ListUsuarioActivity"
            android:label="@string/title_activity_list_usuario" >
        </activity>
        <activity
            android:name=".AdminSelectActivity"
            android:label="@string/title_activity_admin_select" >
        </activity>
        <activity
            android:name=".AdminMedicamentoActivity"
            android:label="@string/gerenciarMedicamento" >
        </activity>
        <activity
            android:name=".CadastrarMedicamento"
            android:label="@string/title_activity_cadastrar_medicamento" >
        </activity>
        <activity
            android:name=".CadastrarMedicamentoActivity"
            android:label="@string/title_activity_cadastrar_medicamento" >
        </activity>
        <activity
            android:name=".MeusMedicamentosActivity"
            android:label="@string/title_activity_meus_medicamentos"
            android:parentActivityName=".AdminMedicamentoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufscar.dc.medtime.AdminMedicamentoActivity" />
        </activity>
    </application>

</manifest>
